50 networks/scripts_deploy.prototxt networks/scripts/model_1_jpg.caffemodel
50 networks/scripts_deploy.prototxt networks/scripts/model_2_jpg.caffemodel
50 networks/scripts_deploy.prototxt networks/scripts/model_3_jpg.caffemodel
50 networks/scripts_deploy.prototxt networks/scripts/model_4_jpg.caffemodel
50 networks/scripts_deploy.prototxt networks/scripts/model_5_jpg.caffemodel
