50 networks/scripts_deploy.prototxt networks/scripts/model_1.caffemodel
50 networks/scripts_deploy.prototxt networks/scripts/model_2.caffemodel
50 networks/scripts_deploy.prototxt networks/scripts/model_3.caffemodel
50 networks/scripts_deploy.prototxt networks/scripts/model_4.caffemodel
50 networks/scripts_deploy.prototxt networks/scripts/model_5.caffemodel
